* {
  box-sizing: border-box;
}

body,
html {
  /* height: 100%; */
  font-family: Arial, sans-serif;
}






.sq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
   width: 100vw; 
  /* max-height: fit-content;  */
  max-width: fit-content; 
     width: 100vw; 
    /* max-width: 50rem; */
    max-height: 40rem; 
      height: 100vh;  
     margin: 0 auto;
    padding: 4rem; 
    max-width: 40rem;
    max-height: 30rem;
    box-sizing: border-box; 
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #243547;
    /* background-color: #f9f9f9;  */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    color:  rgb(73, 73, 161);
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(42, 37, 37, 0.1);
    padding: 1rem;
  }
  
  .sq-label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .inputBox {
     display: block; 
    width: 100%;
    height: 50px;
     border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 1rem;
     padding: 0.5rem; 
    font-size: 1rem;
     box-sizing: border-box; 
     transition: border-color 0.3s; 

     /* display: flex;
     flex-direction: column;
     align-items: center;
     padding: 40px;
     border: 1px solid #ccc;
     border-radius: 8px;
     background-color: #fff;
     box-shadow: 0 0 20px rgba(34, 31, 31, 0.1);
     /* min-width: 500px;  */
    /* border-color: #243547; */
    
  }
  
  .inputBox:focus {
    border-color: #007bff;
  }
  
  .input-error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
  
  .btn {
   border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
    font-size: 1rem;
    background-color: #0b6a20;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 30px; 
    display: flex;
  
    
  }
  .back-btn{
    border: none;
    display: flex;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    background-color: rgb(73, 73, 161);
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
  
  }

  .back-btn:hover{
    background-color: #007bff;
  }


  .btn:hover {
    background-color: #218838;
  }
  